.toolbar {
    background-color: black;
}

.tabbar {
    background-color: white;
}

.active {
    background-color:black;
}

.title{
font-weight: bold;
font-size: 26px;
color: white;
}

.poster{    height: 500px;width: auto;
}

.top{
    font-size: larger;
    font-weight: bold;
}