.toolbar {
    background-color: black;
}

.tabbar {
    background-color: white;
}

.active {
    background-color:black;
}

.title{
font-weight: bold;
font-size: 26px;
color: white;
}

.poster{    height: 500px;width: auto;
}

.top{
    font-size: larger;
    font-weight: bold;
}

.searchPoster{
    height: 150px;width: 100px;
}

.movieTitle{
    font-size: 20px;
    font-weight: bold;
}

.movieDetail{
    font-size: 12px;
}
.rating{ padding: 0 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

.star{
    padding-left: 20px;     
    color: goldenrod;
    font-size: 26px;
}