.toolbar {
    background-color: black    ;
}

.tabbar {
    background-color: black;
}

:checked+.tabbar__button {
    color: #B22222	;
}

.tabbar__icon {
    font-size: 28px;
}


.active {
    background-color:black;
}

.title{
font-weight: bold;
font-size: 26px;
color: #B22222	;
}

.poster{ text-align: center;   height: 540px;width: auto;
}

.top{
    text-align: center;
    padding-top: 20px;
    font-size: larger;
    font-weight: bold;
}

.searchPoster{
    height: 150px;width: 100px;
}

.movieTitle{
    font-size: 20px;
    font-weight: bold;
}

.movieDetail{
    font-size: 12px;
}
.rating{ padding: 0 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

.star{
    padding-left: 20px;     
    color: goldenrod;
    font-size: 28px;
}
.searchSize{
    width: 300px;
}



.detailPoster{
    width: 300px;
    height: 420px;
    text-align: center;

}
.posterCenter{
    text-align: center;
    padding: 20px 0 0 0;
}

.titleDetail{
    font-size: 22px;
    font-weight: bold;
    
}

.detail{
    padding-top: 8px;
    font-size: 16px;
    line-height: 18px;
}

