<ons-page id="page2" class="red">   

    <div class="posterCenter"> <img src="/image/bw.jpg" alt="" class="detailPoster">
    </div>
    <ons-list-item>

        <div class="center">
            <span class="list-item__title titleDetail">BLACK WIDOW (2020)</span>
            <span class="list-item__subtitle detail">Black Widow is an
                upcoming American superhero film based on the Marvel Comics character of the same name..</span>
        </div>

    </ons-list-item>
    <ons-list-item>


               <div class="center">
            <span class="list-item__title titleDetail">CAST</span>
            <span class="list-item__subtitle detail">Scarlett Johansson</span>
            <span class="list-item__subtitle detail">Florence Pugh</span>
            <span class="list-item__subtitle detail">Robert Downey Jr.</span>
            <span class="list-item__subtitle detail">David Harbour</span>

        </div>
    </ons-list-item>
</ons-page>
