<ons-page id="home">
    <ons-carousel swipeable auto-scroll overscrollable id="carousel"
        style="text-align: center; background-color: black;">
        <ons-carousel-item>
            <img src="/image/bw.jpg" alt="" class="poster">
        </ons-carousel-item>
        <ons-carousel-item>
            <img src="/image/bb.jpg" alt="" class="poster">
        </ons-carousel-item>
        <ons-carousel-item>
            <img src="/image/f9.jpg" alt="" class="poster">
        </ons-carousel-item>
        <ons-carousel-item>
            <img src="/image/f99.jpg" alt="" class="poster">
        </ons-carousel-item>

    </ons-carousel>
    <div><b><h2 class="top">Top 10 of September</h2></b></div>
</ons-page>